<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>395017719316-03jaot0smnsl7nj3q74v9embbdl4qd7v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395017719316-03jaot0smnsl7nj3q74v9embbdl4qd7v</string>
	<key>API_KEY</key>
	<string>AIzaSyAiKqT6ncihl4tz4vC0EiP6tAhCngXU5V8</string>
	<key>GCM_SENDER_ID</key>
	<string>395017719316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>juhuyoon.ChatDevelopment</string>
	<key>PROJECT_ID</key>
	<string>chatappbuild</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappbuild.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395017719316:ios:d7c84a64cee7274a</string>
	<key>DATABASE_URL</key>
	<string>https://chatappbuild.firebaseio.com</string>
</dict>
</plist>